<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Restapp", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

           <!-- <div id="header">
                <ul class="nav">
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Manteminientos</a>
                        <ul>
                            <h:link outcome="/almacen/List" value="Crear Almacen" />
                            <h:link outcome="/articulos/List" value="Crear Articulos" />

                        </ul>
                    </li>
                    <li><a href="">Procesos</a>
                        <ul>
                            <h:link outcome="/articuloAlmacen/List" value="Administrar Almacen" />
                        </ul>
                    </li>
                    <li><a href="Contacto.html">Contacto</a></li>
                </ul>
            </div> -->

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Restaurantes", "Index", "Restaurants")</li>
                    <li>@Html.ActionLink("Sucursales", "Index", "RestaurantBranches")</li>
                    <li>@Html.ActionLink("Tipos de comida", "Index", "FoodTypes")</li>
                    <li>@Html.ActionLink("Tipos de restaurantes", "Index", "RestaurantTypes")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
